@import "./colors";
.Projects {
  height: 80vh;
  //   border: blue solid;
  .textContainer {
    text-align: center;
    color: $textcolor3;
  }
  .Container {
    margin: 0 auto;
    width: 1700px;
    height: 60vh;
    // border: solid red;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    justify-items: center;
    position: relative;

    li {
      margin: 50px 15px;
      // border: red solid;
      img {
        background-size: cover;
        width: auto;
        height: 200px;
      }
    }
    // border-radius: 0px;
    // background: #fbfbfb;
    // box-shadow: 7px 7px 16px #a8a8a8, -7px -7px 16px #ffffff;
    .box {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border-radius: 0px;
      background: #fbfbfb;
      box-shadow: 7px 7px 16px #a8a8a8, -7px -7px 16px #ffffff;
    }
    .actionImg4 {
      overflow: hidden;
      position: relative;
    }
    .actionImg4 img {
      display: block;
      // width: 100%;
      // height: 100%;
    }
    .actionImg4 .hover {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #fff;
      width: 100%;
      padding: 15px 0 15px;
      text-align: center;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      transition: padding-bottom 0.35s;
      -webkit-transition: padding-bottom 0.35s;
      -moz-transition: padding-bottom 0.35s;
    }
    .actionImg4 .hover .sub_tit {
      font-size: 16px;
      color: $textcolor;
      font-weight: 300;
      letter-spacing: 1px;
    }
    .actionImg4 .hover .desc {
      position: absolute;
      width: 100%;
      color: $textcolor3;
      font-weight: 300;
      margin-top: 6px;
      font-size: 13px;
      line-height: 13px;
      opacity: 0;
      transform: translateY(40%);
      -webkit-transform: translateY(40%);
      -moz-transform: translateY(40%);
      transition: all 0.5s 0.3s;
      -webkit-transition: all 0.5s 0.3s;
      -moz-transition: all 0.5s 0.3s;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .actionImg4:hover .hover {
      padding-bottom: 50px;
    }
    .actionImg4:hover .hover .desc {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
    }
  }
}
