@import "./colors";
.Skills {
  text-align: center;
  height: 100vh;
  color: $textcolor3;
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .container {
    display: flex;
    justify-content: center;

    .skills {
      margin: 0 75px 0 75px;
      width: 370px;

      .text-container {
        margin-top: 50px;
        h3 {
          font-size: 26px;
          font-weight: 500;
          letter-spacing: 1px;
        }
        img {
          width: 320px;
          font-size: 20px;
          font-weight: 100;
          margin: 0 auto;
          margin-top: -18px;
        }
      }
    }
    .skills.One {
      img {
        height: 250px;
        width: auto;
        margin-top: 30px;
      }
    }
    .skills.Two {
      img {
        margin-top: 63px;
        height: auto;
        width: 360px;
      }
      .text-container {
        margin-top: 60px;
      }
    }
    .skills.Three {
      img {
        height: 250px;
        width: auto;
        margin-top: 30px;
      }
    }
  }
  .svg_icon {
    margin-top: 80px;
    height: 300px;
  }
}
@media only all and (max-width: 600px) {
  .Skills {
    margin: 0 auto;
    .container {
      flex-direction: column;
      margin: 0 auto;

      .skills {
        margin: 0 auto;
        img {
          margin: 0 auto;
        }
      }
    }
    .svg_icon {
      display: none;
    }
  }
}
